body
{
    padding-top: 5rem;
    font-family: 'Noto Serif', 'Noto Sans Bengali';
}

pre code
{
    font-family: 'Noto Serif', 'Noto Sans Bengali';
}

pre
{
    padding: 0.5em;
    font-weight: normal;
    font-size: 90%;
    border: none;
}

h1, h2, h3
{
    padding: 5px;
}

.nav-link
{
    fill: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 5px;
}

.custom-nav-title 	/* for author/title */
{
    color: #ffffff;
}

.nav-link:hover
{
    fill: #ffffff;
}

.dropdown-menu {         
    max-height: 85vh;
    overflow-y: auto;
}

div.custom-main-content
{
    max-width: 900px;
    margin: auto;
}

